* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: Helvetica, sans-serif;
  height: 100vh;
  justify-content: space-around;
  margin: auto;
  text-align: center;
  width: 30vh;
}

section {
  width: 100%;
  margin: auto;
  background-color: grey;
}

h2.title {
  font-size: 15px;
}

input {
  width: 120px;
}

button {
  width: 50px;
}